$primaria-padrao: #005aab;
$primaria-clara: #006ccd;
$primaria-mais-clara: #50a1ea;
$primaria-escura: #003260;

$secundaria-padrao: #27deb2;

$plano-de-fundo: #e6ecf2;
$plano-de-fundo-2: #f8fcff;

$branco: #fff;
$cinza: #616161;
$cinza-claro: #adadad;

$detalhes: #dadada;

$coral: #ff8a83;
$amarelo: #ffde6a;
$roxo-azulado: #7c99ff;
