.restricaoTag {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 740px) {
  .restricaoTag {
    width: 42px;
    height: 42px;

    > svg {
      width: 25px;
      height: 25px;
    }
  }
}
